{
  email {$ACME_EMAIL:security@example.com}
  admin {$CADDY_ADMIN:localhost:2019}
  storage file_system {$CADDY_STORAGE:/data}
  acme_ca {$ACME_CA:https://acme-v02.api.letsencrypt.org/directory}
  auto_https {$AUTO_HTTPS:on}
  metrics /metrics
  servers {
    max_header_size 1MB
    timeouts {
      read_body 30s
      read_header 15s
      write 30s
      idle 2m
    }
  }
}

import ./snippets/*.caddy
